/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
/* -------------------------------------------------- */

html,
body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

#nowbluebox {
  background-color: cornflowerblue;
}

#animals {
  background-color: lightblue;
}